<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Ovialand</a>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                    aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" routerLink="/private/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                            aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            User Lists
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="/private/userlist">All Users</a>
                                <a class="nav-link" href="#">Account Managers</a>
                                <a class="nav-link" href="#">Sales</a>
                                <a class="nav-link" href="#">Engineering</a>
                            </nav>
                        </div>
                        <a class="nav-link" routerLink="/private/property-list">
                            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                            Property List
                        </a>
                        <a class="nav-link" routerLink="/private/messages">
                            <div class="sb-nav-link-icon"><i class="fas fa-inbox"></i></div>
                            Messaging
                        </a>

                        <a class="nav-link" routerLink="/private/leads">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Leads
                        </a>

                        <a class="nav-link" routerLink="/private/reports">
                            <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                            Reports
                        </a>

                        <a class="nav-link" routerLink="/private/activity-log">
                            <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                            Activity Log
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Administrator
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <!--START CONTENT-->
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Messaging Page</h1>
                    <ol class=" breadcrumb mb-4">
                        <!-- <li class="ml-auto breadcrumb-item active">Dashboard</li> -->
                        <li class="breadcrumb-item active"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Messages</li>
                        <!--<li class="breadcrumb-item active">Dashboards</li>-->
                    </ol>
                    <div class="row">
                        <!--BODY CONTENT-->
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary btn-block mb-3">Compose Message</a>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Folders</h4>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item active">
                                            <a href="#" class="nav-link">
                                                <i class="fas fa-inbox"></i> Inbox
                                                <span class="badge bg-warning float-right">12</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-envelope"></i> Sent
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-file-alt"></i> Drafts
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="fas fa-filter"></i> Junk
                                                <span class="badge bg-warning float-right">65</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-trash-alt"></i> Trash
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-8">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Inbox</h3>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" placeholder="Search Mail">
                                            <div class="input-group-append">
                                                <div class="btn btn-primary">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <div class="mailbox-controls">
                                        <!-- Check all button -->
                                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                                class="far fa-square"></i>
                                        </button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-sm"><i
                                                    class="far fa-trash-alt"></i></button>
                                            <button type="button" class="btn btn-default btn-sm"><i
                                                    class="fas fa-reply"></i></button>
                                            <button type="button" class="btn btn-default btn-sm"><i
                                                    class="fas fa-share"></i></button>
                                        </div>
                                        <!-- /.btn-group -->
                                        <button type="button" class="btn btn-default btn-sm"><i
                                                class="fas fa-sync-alt"></i></button>
                                        <div class="float-right">
                                            1-50/200
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm"><i
                                                        class="fas fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-default btn-sm"><i
                                                        class="fas fa-chevron-right"></i></button>
                                            </div>
                                            <!-- /.btn-group -->
                                        </div>
                                        <!-- /.float-right -->
                                    </div>
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" value="" id="check1">
                                                            <label for="check1"></label>
                                                        </div>
                                                    </td>
                                                    <td class="mailbox-star"><a href="#"><i
                                                                class="fas fa-star text-warning"></i></a></td>
                                                    <td class="mailbox-name"><a href="read-mail.html">Apolinario
                                                            Mabini</a></td>
                                                    <td class="mailbox-subject">Something message here
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">5 mins ago</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" value="" id="check2">
                                                            <label for="check2"></label>
                                                        </div>
                                                    </td>
                                                    <td class="mailbox-star"><a href="#"><i
                                                                class="fas fa-star-o text-warning"></i></a></td>
                                                    <td class="mailbox-name"><a href="read-mail.html">Apolinario
                                                            Mabini</a></td>
                                                    <td class="mailbox-subject">Something message here
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                                                    <td class="mailbox-date">28 mins ago</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="icheck-primary">
                                                            <input type="checkbox" value="" id="check3">
                                                            <label for="check3"></label>
                                                        </div>
                                                    </td>
                                                    <td class="mailbox-star"><a href="#"><i
                                                                class="fas fa-star-o text-warning"></i></a></td>
                                                    <td class="mailbox-name"><a href="read-mail.html">Apolinario
                                                            Mabini</a></td>
                                                    <td class="mailbox-subject">Something message here
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                                                    <td class="mailbox-date">11 hours ago</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- /.mail-box-messages -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer p-0">
                                    <div class="mailbox-controls">
                                        <!-- Check all button -->
                                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                                class="far fa-square"></i>
                                        </button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-sm"><i
                                                    class="far fa-trash-alt"></i></button>
                                            <button type="button" class="btn btn-default btn-sm"><i
                                                    class="fas fa-reply"></i></button>
                                            <button type="button" class="btn btn-default btn-sm"><i
                                                    class="fas fa-share"></i></button>
                                        </div>
                                        <!-- /.btn-group -->
                                        <button type="button" class="btn btn-default btn-sm"><i
                                                class="fas fa-sync-alt"></i></button>
                                        <div class="float-right">
                                            1-50/200
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm"><i
                                                        class="fas fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-default btn-sm"><i
                                                        class="fas fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END BODY CONTENT-->
                    </div>

                    <br>

                    <div class="row">
                        <!--BODY CONTENT-->
                        <div class="col-md-4">
                            <a href="#" class="btn btn-primary btn-block mb-3">Compose Message</a>
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Folders</h4>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item active">
                                            <a href="#" class="nav-link">
                                                <i class="fas fa-inbox"></i> Inbox
                                                <span class="badge bg-warning float-right">12</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-envelope"></i> Sent
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-file-alt"></i> Drafts
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="fas fa-filter"></i> Junk
                                                <span class="badge bg-warning float-right">65</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="far fa-trash-alt"></i> Trash
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-8">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h3 class="card-title">Compose Message</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-2">
                                    <form>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">To: </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputPassword"
                                                    placeholder="Enter Recipient">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputMessage" class="col-sm-2 col-form-label">Message</label>
                                            <div class="col-sm-10">
                                                <textarea type="text" class="form-control" id="inputMessage"
                                                    placeholder="Enter Message" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--END BODY CONTENT-->
                    </div><br>











                </div>
            </main>
            <!--END CONTENT-->
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Ovialand 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>