<section class="login p-fixed d-flex text-center common-img-bg" style="position: relative; !important;">
	<div class="auth-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="login-card card-body auth-body">
					<form action="#"  class="md-float-material">
						<div class="text-center">
						</div>
						<div class="auth-box">
							<div class="row m-b-20">
								<div class="col-md-12">
									<img src="assets/images/logod.png" width="60%" alt="logo.png">
									<h3 class="text-left txt-primary">Create an Account</h3>
								</div>
							</div>
							<hr style="margin-top: 0 !important" />
							<div class="input-group">
								<input class="form-control" placeholder="Username" type='' formControlName='userName' />
								<span class="md-line"></span>
							</div>	
							<div class="input-group">
								<input class="form-control" placeholder="Password" type='' formControlName='userName' />
								<span class="md-line"></span>
							</div>
							<div class="input-group">
								<input class="form-control" placeholder="Confirm Password" type='' formControlName='userName' />
								<span class="md-line"></span>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="input-group">
										<input class="form-control" placeholder="First Name" type='' formControlName='userName' />
										<span class="md-line"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-group">
										<input class="form-control" placeholder="Middle Name" type='' formControlName='userName' />
										<span class="md-line"></span>
									</div>
								</div>
							</div>
							<div class="input-group">
								<input class="form-control" placeholder="Last name" type='' formControlName='userName' />
								<span class="md-line"></span>
							</div>
							<div class="input-group">
								<input class="form-control" placeholder="Address" type='' formControlName='userName' />
								<span class="md-line"></span>
							</div>
							<div class="input-group">
								<!-- <input type="password" class="form-control" placeholder="Password"> -->
								<input class="form-control" placeholder="Password" type='password' formControlName='password' />
								<span class="md-line"></span>
							</div>
							<button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" type="submit" > Create Account</button>

							<hr/>
							<div class="row">
								<div class="col-md-10">
									<p class="text-inverse text-left m-b-0">&copy; 2020 Ovialand</p>
								</div>
								<div class="col-md-2">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>